/*Helper classes*/

//Elements block-level

.p--b{
  display: block;
}

/*margins*/
.p--m{
  margin-bottom: 1.5px;
}

/*no margin bottom*/

.p--nm{
  margin: 0;
}

.p--ul{
  list-style-type: none;
}

/*float*/

.f--l{
  float: left;
}

.f--r{
  float: right;
}


::selection{
  background: blue;
  text-shadow: none;
}

::-moz-selection{
  background: blue;
  text-shadow: none;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top : 1px solid #ccc;
  margin: 1.5px 0;
  padding: 0;
}

@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}

@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

/*clearfix*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}