//Type styles

h1{
	@include torem('font-size',32px);
	line-height: 1;
}

h2{
	@include torem('font-size',24px);
	line-height: 1;
}

h3{
	@include torem('font-size',18px);
	line-height: 1;
}

h4{
	@include torem('font-size', 16px);
	line-height: 1;
}

small, .tiny{
	@include torem('font-size', 14px);
}

strong{
	font-weight: 700 !important;
}


em{
	font-style: italic !important;
}

h1,h2,h3,h4{
	text-rendering: optimizeLegibility;
	margin-bottom: 1.5px;
	font-family: $font-sans;
	font-weight: bold;
}

p,li{
	font-size: $base;
	font-family: $font-serif;
	line-height: 1.5;
	margin-bottom: 1.5px;
}