//Global variables for everything

//fonts

$font-a: "";
$font-b: "";

$font-sans: $font-a, Helvetica, sans-serif;
$font-serif: $font-b, Georgia, serif;


//Unit size

$base: 16px;
$base-per: 100%;
$baseline-unitless: 24/($base *($base-per/100%));
$baseline: $baseline-unitless * 1rem;

//container

$container-max: 720px;
$max-width: $container-max;

